# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.env.local
.venv
venv/
env/
ENV/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Caches
.pytest_cache/
.mypy_cache/
